<<ion-view view-title="Choose Your Team">
    <ion-content>
    
        <label class="item item-input item-select item-positive">
            <div class="input-label">
                Sport
            </div>

            <select>
                <option>Option 1</option>
                <option selected>Option 2</option>
                <option>Option 3</option>
            </select>
        </label>

        <label class="item item-input item-select item-assertive">
            <div class="input-label">
                Conference
            </div>

            <select>
                <option>Option 1</option>
                <option selected>Option 2</option>
                <option>Option 3</option>
            </select>
        </label>

        <label class="item item-input item-select item-positive">
            <div class="input-label">
                Team
            </div>

            <select>
                <option>Option 1</option>
                <option selected>Option 2</option>
                <option>Option 3</option>
            </select>
        </label>


        </div>

        <!--add button to submit team choice to dadtabase-->
        <div class="submit-team">
            <button class="button button-large-font-size button-block button-assertive">
                BOOYAH
            </button>
        </div>

        <!--This will show the team name chosen and the logo and the helmet as avatar with an option to play fight song at the bottom-->
        <div class="card">
            <div class="item item-avatar">
                <img src="my-image.png">
                <h1>Team Name</h1>
            </div>

            <div class="item item-body">
                <img class="full-image" src="http://www.booyahslams.com/images/Logov3small.png">

            </div>

            <!--Fight song play button-->

            <div class="Play-fightsong">
                <button class="button button-block button-positive button-large-font-size">
                    Play Fight Song
                </button>
            </div>

    </ion-content>
</ion-view>