<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive" align-title="center">
        <ion-nav-title>
            <img src="http://www.booyahslams.com/images/Logov3small.png"  height="44px" right="50px" left="50px" >
        </ion-nav-title>  
        
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon bar-positive" menu-toggle="right">
        </button>

      </ion-nav-buttons>
      

    </ion-nav-bar>
    <ion-nav-view name="menuContent"> <div class="title">
    <img src="http://www.booyahslams.com/images/Logov3small.png" height="44px">
</div> </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">

    <ion-header-bar class="bar-positive">
    

      <h1 class="title"> </h1>
    </ion-header-bar>

      <ion-nav-bar class="bar-subheader bar-balanced">
          <ion-nav-back-button></ion-nav-back-button>
        
      </ion-nav-bar>

    <ion-content >

      <ion-list >
          <ion-item class="item-positive" menu-close href="#/app/home">
              Home
          </ion-item>
        <ion-item class="item-assertive" menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item class="item-positive" menu-close href="#/app/aboutus">
          About Us
        </ion-item>
        <ion-item class="item-assertive" menu-close href="#/app/chooseteam">
          Your Team
        </ion-item>
        <ion-item class="item-positive" menu-close href="#/app/home">
          News
        </ion-item>
          <ion-item class="item-assertive" menu-close href="#/app/chat-rooms">
              Chat
          </ion-item>
          <ion-item class="item-positive" menu-close href="#/app/sendaslam">
              Send a Slam
          </ion-item>
          <div class="card">
                  <div class="item item-body">
                  <img class="full-image" src="http://www.booyahslams.com/images/Logov3small.png">
              </div>
              </div>

</ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>-



