

<ion-view title="About Booyah" id="page11" style="background-color:#22366B;" class="has-header">
    <ion-content padding="true" class="has-header">
        <div class="">
            <a style="display:block;" ui-sref="menu.home">
                <img src="http://www.booyahslams.com/images/Logov3small.png" width="80" height="80" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 300px; height: 25px;"></div>

            <table>
                <thead>
                    <tr><th colspan="4">Drivers Championship Standings</th></tr>
                </thead>
                <tbody>
                    <tr ng-repeat="driver in driversList">
                        <td>{{$index + 1}}</td>
                        <td>
                            <img src="img/flags/{{driver.Driver.nationality}}.png" />
                            {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
                        </td>
                        <td>{{driver.Constructors[0].name}}</td>
                        <td>{{driver.points}}</td>
                    </tr>
                </tbody>
            </table>
       
        <p id="aboutBooyah-markdown2" style="color:#F8EEEE;text-align:justify;" class="">
            The world's FIRST and ONLY sports trash talking forum! Remember, Booyah Slams provides sports fans, and their fanatical friends, with a fun a safe way to show your team spirit. Our College Sports Teams provide us with a sense of pride and belonging.
            Booyah Slams allows you to voice that team pride by sending a playful slam of your favorite team to a friend of yours. The message is sent via text, and it contains a graphic of your team along with your schools fight song, which plays when
            the text is received. You can also customize your Booyah with text. Keep it safe, keep it clean, and have fun! College Football is almost upon us. We are ramping up for Kick Off and will keep you posted. Then, get ready as we roll out Basketball,
            Baseball, Hockey, Soccer  all of your schools teams. SLAM ON!
        </p>
        <a href="#" onclick="window.open('http://dcmdevserv.info/Booyah_slam/', '_system', 'location=yes'); return false;" id="aboutBooyah-button5" style="border-radius:-6px -6px -6px -6px;"
           class="button button-assertive button-block buttons">Go To Booyah Slams site</a>
    </ion-content>
</ion-view>